name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
      - cron: "0 0 * * *"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Integration Tests
        run: bin/run-integration-tests-in-docker.sh
